In [32]:
import numpy as np
import pandas as pd

In [33]:
our_count = pd.read_csv("../ressources/result_matrix/matrix_comptage.csv")
our_count = our_count.rename(columns={"Unnamed: 0": "Name"})
our_count.Name = our_count.Name.replace({'gene-':''}, regex=True)
our_count.head()

,Name,IP1,IP2,IP3,control4,control5,control6,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,SAOUHSC_00001,20822,17144,13268,14204,19660,4006,13319.548363,0.179625,0.285666,0.628795,0.529483,0.613923
1,SAOUHSC_00002,16122,12278,11242,12226,15120,2134,9799.576106,0.343153,0.174728,1.963924,0.049539,0.084813
2,SAOUHSC_00003,1631,1215,881,1382,1024,126,854.819460,0.555984,0.345394,1.609708,0.107462,0.164831
3,SAOUHSC_00004,14058,11486,9997,7628,6737,846,7036.337157,1.221752,0.268818,4.544910,0.000005,0.000025
4,SAOUHSC_00005,29702,26506,24292,12095,12108,3508,16187.904117,1.187337,0.341595,3.475865,0.000509,0.001475

In [34]:
ground_truth = pd.read_csv("../ressources/result_matrix/matrix_article.csv")
ground_truth = ground_truth.rename(columns={"ctrl4":"control4", "ctrl5":"control5", "ctrl6":"control6"})
ground_truth.head()

,Id,Name,Name.NCBI,entrez,product,control4,control5,control6,IP1,IP2,IP3,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,gene0,SAOUHSC_00001,ABD29192.1,3919798.0,chromosomal replication initiator protein DnaA,14094.0,19538.0,3983.0,20639.0,17017.0,13167.0,13230.327020,0.185266,0.285612,0.648663,5.165565e-01,6.047491e-01
1,gene1,SAOUHSC_00002,ABD29193.1,3919799.0,DNA polymerase III beta subunit,12111.0,15005.0,2112.0,15939.0,12157.0,11127.0,9703.317278,0.350954,0.170702,2.055945,3.978783e-02,6.960326e-02
2,gene10,SAOUHSC_00012,ABD29202.1,3919184.0,conserved hypothetical protein,1156.0,2751.0,299.0,208.0,175.0,171.0,675.548617,-2.948202,0.325776,-9.049786,1.430000e-19,3.840000e-18
3,gene100,SAOUHSC_00107,ABD29288.1,3919816.0,conserved hypothetical protein,1832.0,2369.0,530.0,2228.0,1813.0,1587.0,1579.419184,-0.021133,0.293272,-0.072060,9.425545e-01,9.565389e-01
4,gene1000,SAOUHSC_01039,ABD30159.1,3919887.0,conserved hypothetical protein,5621.0,6283.0,260.0,3481.0,2167.0,2103.0,2489.561063,-0.427325,0.483853,-0.883171,3.771438e-01,4.707415e-01

In [35]:
df_coincidences = pd.merge(our_count, ground_truth, how='inner', on = ['Name'])
df_coincidences.head(5)

,Name,IP1_x,IP2_x,IP3_x,control4_x,control5_x,control6_x,baseMean_x,log2FoldChange_x,lfcSE_x,...,control6_y,IP1_y,IP2_y,IP3_y,baseMean_y,log2FoldChange_y,lfcSE_y,stat_y,pvalue_y,padj_y
0,SAOUHSC_00001,20822,17144,13268,14204,19660,4006,13319.548363,0.179625,0.285666,...,3983.0,20639.0,17017.0,13167.0,13230.327020,0.185266,0.285612,0.648663,0.516556,0.604749
1,SAOUHSC_00002,16122,12278,11242,12226,15120,2134,9799.576106,0.343153,0.174728,...,2112.0,15939.0,12157.0,11127.0,9703.317278,0.350954,0.170702,2.055945,0.039788,0.069603
2,SAOUHSC_00003,1631,1215,881,1382,1024,126,854.819460,0.555984,0.345394,...,126.0,1624.0,1211.0,875.0,850.895748,0.567755,0.338535,1.677094,0.093524,0.146805
3,SAOUHSC_00004,14058,11486,9997,7628,6737,846,7036.337157,1.221752,0.268818,...,837.0,13949.0,11407.0,9898.0,6983.207358,1.233104,0.262615,4.695476,0.000003,0.000012
4,SAOUHSC_00005,29702,26506,24292,12095,12108,3508,16187.904117,1.187337,0.341595,...,3485.0,29476.0,26337.0,24130.0,16102.740090,1.192714,0.340332,3.504562,0.000457,0.001317

In [36]:
df_comp = df_coincidences.loc[:,["Name", "IP1_x", "IP1_y", "IP2_x", "IP2_y", "IP3_x", "IP3_y", "control4_x", "control4_y", "control5_x", "control5_y", "control6_x", "control6_y"]]
df_comp["absolute_error"] = np.abs(df_comp["IP1_y"]-df_comp["IP1_x"])
df_comp["relative_error"] = df_comp["absolute_error"]/df_comp["IP1_y"]
df_comp
df_comp.isna().sum()
df_comp = df_comp.dropna()

with pd.option_context("mode.use_inf_as_na", True):
  df_comp.dropna(inplace=True)

df_comp_sorted = df_comp.sort_values(by=["relative_error"])
df_comp_sorted.head(10)

/tmp/ipykernel_11311/963531574.py:8: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  with pd.option_context("mode.use_inf_as_na", True):

,Name,IP1_x,IP1_y,IP2_x,IP2_y,IP3_x,IP3_y,control4_x,control4_y,control5_x,control5_y,control6_x,control6_y,absolute_error,relative_error
1799,SAOUHSC_01883,15,15.0,8,8.0,25,25.0,11,12.0,36,36.0,5,5.0,0.0,0.0
1762,SAOUHSC_01844,7,7.0,8,7.0,7,6.0,3,3.0,5,5.0,2,2.0,0.0,0.0
272,SAOUHSC_00289,12,12.0,7,7.0,13,10.0,1,1.0,5,5.0,0,0.0,0.0,0.0
1838,SAOUHSC_01924,47,47.0,18,17.0,19,19.0,21,21.0,35,35.0,2,2.0,0.0,0.0
1848,SAOUHSC_01934,23,23.0,6,6.0,13,13.0,6,6.0,6,6.0,3,3.0,0.0,0.0
830,SAOUHSC_00867,1,1.0,1,1.0,2,2.0,1,2.0,4,5.0,1,1.0,0.0,0.0
247,SAOUHSC_00260,34,34.0,24,24.0,41,38.0,27,27.0,19,18.0,0,0.0,0.0,0.0
1950,SAOUHSC_02002,162,162.0,116,115.0,110,110.0,114,114.0,112,111.0,9,9.0,0.0,0.0
2058,SAOUHSC_02115,7,7.0,8,8.0,9,9.0,2,2.0,2,2.0,0,0.0,0.0,0.0
226,SAOUHSC_00238,39,39.0,12,12.0,29,28.0,13,13.0,13,13.0,2,2.0,0.0,0.0

In [37]:
df_comp_sorted.tail(10)

,Name,IP1_x,IP1_y,IP2_x,IP2_y,IP3_x,IP3_y,control4_x,control4_y,control5_x,control5_y,control6_x,control6_y,absolute_error,relative_error
1819,SAOUHSC_01905,266,12.0,196,5.0,219,10.0,95,5.0,86,4.0,6,0.0,254.0,21.166667
2374,SAOUHSC_02440,131,5.0,77,3.0,88,3.0,62,0.0,22,0.0,1,0.0,126.0,25.200000
1722,SAOUHSC_01804,259,9.0,178,7.0,198,11.0,142,14.0,96,6.0,9,1.0,250.0,27.777778
479,SAOUHSC_R00012,72,2.0,48,0.0,31,0.0,40,0.0,14,0.0,40,0.0,70.0,35.000000
473,SAOUHSC_T00030,482,11.0,339,24.0,277,4.0,387,19.0,74,1.0,77,1.0,471.0,42.818182
1723,SAOUHSC_01805,332,7.0,205,11.0,189,15.0,134,2.0,117,3.0,12,0.0,325.0,46.428571
995,SAOUHSC_A00992,1467,29.0,1403,27.0,913,15.0,1212,22.0,1353,20.0,389,9.0,1438.0,49.586207
2348,SAOUHSC_T00020,59,1.0,26,0.0,21,0.0,39,0.0,2,0.0,64,0.0,58.0,58.000000
2226,SAOUHSC_R0004,1256,1.0,649,2.0,162,0.0,1824,2.0,1281,0.0,3110,0.0,1255.0,1255.000000
1940,SAOUHSC_R0008,6363,4.0,6897,9.0,2119,1.0,5389,2.0,3995,2.0,8429,6.0,6359.0,1589.750000

In [38]:
df_comp

,Name,IP1_x,IP1_y,IP2_x,IP2_y,IP3_x,IP3_y,control4_x,control4_y,control5_x,control5_y,control6_x,control6_y,absolute_error,relative_error
0,SAOUHSC_00001,20822,20639.0,17144,17017.0,13268,13167.0,14204,14094.0,19660,19538.0,4006,3983.0,183.0,0.008867
1,SAOUHSC_00002,16122,15939.0,12278,12157.0,11242,11127.0,12226,12111.0,15120,15005.0,2134,2112.0,183.0,0.011481
2,SAOUHSC_00003,1631,1624.0,1215,1211.0,881,875.0,1382,1372.0,1024,1019.0,126,126.0,7.0,0.004310
3,SAOUHSC_00004,14058,13949.0,11486,11407.0,9997,9898.0,7628,7568.0,6737,6684.0,846,837.0,109.0,0.007814
4,SAOUHSC_00005,29702,29476.0,26506,26337.0,24292,24130.0,12095,12024.0,12108,12035.0,3508,3485.0,226.0,0.007667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2962,SAOUHSC_03051,9582,9495.0,7431,7362.0,9008,8945.0,3075,3055.0,4508,4483.0,690,682.0,87.0,0.009163
2963,SAOUHSC_03052,21831,21674.0,18548,18425.0,20302,20160.0,6515,6470.0,9165,9121.0,1500,1497.0,157.0,0.007244
2964,SAOUHSC_03053,13934,13827.0,11393,11309.0,13413,13327.0,3674,3654.0,4486,4465.0,861,856.0,107.0,0.007738
2965,SAOUHSC_03054,1878,1855.0,1506,1488.0,1607,1588.0,506,499.0,451,450.0,30,30.0,23.0,0.012399
2966,SAOUHSC_03055,40435,40130.0,33730,33409.0,33268,32985.0,15794,15678.0,15881,15807.0,452,448.0,305.0,0.007600

In [39]:
from sklearn.metrics import mean_absolute_error
mae = df_comp["absolute_error"].describe()
mre = df_comp["relative_error"].describe()
print(mae)
print("---------------------------------")
print(mre)

count     2722.000000
mean       136.980529
std        755.707378
min          0.000000
25%         11.000000
50%         27.000000
75%         69.750000
max      20722.000000
Name: absolute_error, dtype: float64
---------------------------------
count    2722.000000
mean        1.261051
std        38.878509
min         0.000000
25%         0.007839
50%         0.010666
75%         0.017539
max      1589.750000
Name: relative_error, dtype: float64